@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap");

html {
  font-size: 43.75%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  height: 100dvh;
  font-family: "Hanken Grotesk", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.5rem;
  max-width: 30rem;
  padding: 2.5rem 5rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;

  background: linear-gradient(rgb(103 67 255), rgb(52 46 234));
}

.your-result {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(212, 211, 211, 0.948);
}

.points-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 9rem;
  height: 9rem;

  background: linear-gradient(rgb(54 43 208), rgb(63 47 224));
  border-radius: 50%;
}

.your-points {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.all-points {
  color: rgba(189, 189, 189, 0.793);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
}

.great {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
}

.result-desc {
  font-size: 1.2rem;
  color: rgb(176 175 255);
  text-align: center;
}

article {
  padding: 2rem;
  color: #383f4f;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.summary-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.div-comp-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.component-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.component-name.react {
  color: #f55;
}

.component-name.mem {
  color: #ffb21e;
}

.component-name.verb {
  color: #00bb8f;
}

.component-name.vis {
  color: #1125d6;
}

.summary-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.summary-component {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4rem;
  border-radius: 0.7rem;
  padding: 0 1rem;
}

.summary-component.reaction {
  background-color: #fff6f5;
}

.summary-component.memory {
  background-color: #fffbf2;
}

.summary-component.verbal {
  background-color: #f2fafa;
}

.summary-component.visual {
  background-color: #f3f3fd;
}

.points {
  font-weight: 700;
  color: #5a5866;
}

.lighter-grey {
  color: #aca5ab;
}

.button-continue {
  width: 100%;
  display: block;
  background-color: #303b59;

  color: #f8fdff;
  text-decoration: none;

  border-radius: 3.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
